# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Odoo
*.pot
*.mo

# OS
Thumbs.db
.DS_Store

# Temporary
*.tmp
*.bak

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Local configuration
odoo.conf